
<div id="com">
</div>
<div id="comment_update_error<%= comment.id %>"></div>
<div id="editcomment<%= comment.id %>">
<span class="glyphicon glyphicon-user"></span>: <%= comment.user.username %> <span class="glyphicon glyphicon-time"></span>: <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>

	<p><%= comment.content %> </p>
	<% if signed_in? %>
	<% if current_user.id == comment.user_id %>
      <%= link_to "Edit", edit_post_comment_path(comment.post_id,comment.id),remote:true %>
    <% end %>
<% end %>
</div>


 
 
</br>
