<%= form_for @post, url: {action: "update"} do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class:"form-control inpuut-lg col-sm-1" %>
  </div>
  <div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class:"form-control input-lg", rows:"24" %>
  </div>
  <%= select_tag "categories_ids", options_from_collection_for_select(Category.all, 'id', 'name', @cate), :multiple => true %>
  <%= puts @cate %>
  <%= f.submit "Update", class:"btn btn-primary" %>

<% end %>
