<!DOCTYPE HTML>
<html>
<head>
<title>Posts index</title>
</head>
<body>


<%= render "admin/shared/head" %>


<%= render "admin/shared/sidebar" %>

<div class="container">
<%= link_to "New", new_admin_post_path %> 
</br>
<% n = 1 %>
<% @posts.each do |p| %>

Post <%= n %> </br> 
Title: <%= p.title %> </br>
Content: <%= p.content %></br>
<%= link_to "Edit", edit_admin_post_path(p) %> | <%= link_to "Show", controller: "/homes", action: "show", id: p.id %> | <%= link_to "Delete", admin_post_path(p), method: :delete %>
</br>
</br>
<% n += 1 %>
<% end %>

</div>
</div>
</body>
</html>