    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
   
      <% @post.errors.full_messages.each do |msg| %>
        <%= content_tag :div, msg, class: "error" %>
      <% end %>
 

<%= form_for @post, url: {action: "create"} do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class:"form-control inpuut-lg col-sm-1" %>
  </div>
  <div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class:"form-control input-lg", rows:"20" %>
  </div>
<%= select_tag "categories_ids", options_from_collection_for_select(Category.all, 'id', 'name'), :multiple => true %>
  <%= f.submit "Post", class:"btn btn-primary" %>
<% end %>

