<!DOCTYPE HTML>
<html>
<head>
<title>New Post</title>
</head>
<body>
<%= render "admin/shared/head" %>


<%= render "admin/shared/sidebar" %>

<div class="container">
<%= form_for @post, url: {action: "create"} do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class:"form-control inpuut-lg col-sm-1" %>
  </div>
  <div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class:"form-control input-lg", rows:"30" %>
  </div>
 
  <%= f.submit "Post", class:"btn btn-primary" %>
<% end %>
</div>
</body>
</html>