<!DOCTYPE HTML>
<html>
<head>
<title>Home Page</title>
</head>
<body class="home">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container-fluid">
  <% if user_signed_in? %>
    <p class="navbar-text navbar-left"><%= current_user.email %></p>
     <% if current_user.admin == true %>
    <p class="navbar-text navbar-left"><%= link_to "Admin Dashboard", admin_dashboard_path %></p>  
    <% end %> 
    <p class="navbar-text navbar-left"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
    
  <% else %>
    <p class="navbar-text navbar-left"><%= link_to "Sign in", new_user_session_path, class:"navbar-link" %></p>
<% end %>
</div>
</nav>
<%= render 'homes/shared/head' %>
<div class="container">
<% n = 1 %>
<% @posts.each do |p| %>

Post <%= n %> </br> 
Title: <%= p.title %> </br>
Content: <%= p.content %></br>
<%= link_to "show details", controller: "homes", action: "show", id: p.id %>
</br>
<% n += 1 %>
<% end %>
</div>

</body>
</html>