
<div class="row">
<div class="col-md-8">
<% @posts.each do |p| %>

<div class="jumbotron">
<div class="posthead">
 <h2><%= p.title %></h2> 
<h4><small><span class="glyphicon glyphicon-user"></span>: <%= p.user.username %></small> <small><span class="glyphicon glyphicon-time"></span>: <%= p.created_at.strftime("%Y/%m/%d")%></small> <small> <span class="glyphicon glyphicon-thumbs-up"></span>: <%= p.comments.count %></h4></small>
</div>
<p><%= sanitize p.html_content.slice(0..200) %></p>
<div class="detail">
<%= link_to "show details", post_path(p) %>
</div>
</div>
<% end %>

</div>
<div class="col-md-4">
<%= render "homes/shared/sidebar" %>
</div>
</div>
<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
