
<div class="row">
<div class="col-md-8">
<% @posts.each do |p| %>

<div class="jumbotron other-color">
 <h2><%= p.title %></h2> 
<h5>Author:<%= p.user.username %>  Created at:<%= p.created_at %></h5>
<p><%= p.content %></p>
<%= link_to "show details", post_path(p),class:"btn btn-primary btn-sm" %>
</div>
<% end %>

</div>
<div class="col-md-4">
<div class="jumbotron">
Widget1
</div>
<div class="jumbotron">
Widget2
</div>
<div class="jumbotron">
Widget3
</div>
</div>
</div>
<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
