<%= @post.title %></br>
<%= @post.content %>
<%= render 'comments/new' %>
<h1>Comments</h1>
<% @comments.each do |c| %>
<%= c.user.email %> --
	<%= c.content %>  
	<% if current_user.id == c.user_id %>
      | <%= link_to "Edit", edit_post_comment_path(@post,c.id) %>
    <% end %>


	</br> 
<% end %>