
<div class="sidebar-menu">
<ul class="nav nav-pills nav-stacked nav-bar" role="tablist">
  <li class="menu" role="presentation"><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
  <li class="menu" role="presentation"><%= link_to "Manage Posts", admin_posts_path  %></li>
  <li class="menu" role="presentation"><%= link_to "Manage Category", admin_categories_path %></li>
  <li class="menu" role="presentation"><%= link_to "Manage Users", admin_users_path %></li>
  <li class="menu" role="presentation"><%= link_to "Manage Comments", admin_comments_path %></li>
</ul>
</div>
